<div class="dashboard-container">
  <h2>
    {{ isAdmin ? 'Dashboard de Control' : '¡Bienvenido de nuevo!' }}
  </h2>

  <div class="cards-row slide-left">

    <ng-container *ngIf="isAdmin; else userCard1">
      <div class="card small-card consumo-flex large-text">
        Consumo promedio por Hogar
        <span class="large-text">{{ consumoPromedio }} m³</span>
      </div>
    </ng-container>
    <ng-template #userCard1>
      <a routerLink="/reportes/diario" class="card small-card consumo-flex large-text">
        Consumo en lo que va del día: 
        <span [style.color]="consumoColor" class="large-text">{{ consumoDia }} m³</span>
      </a>
    </ng-template>

    <ng-container *ngIf="isAdmin; else userCard2">
      <div class="card small-card large-text">
        <div>
          ✅ <strong>Total de medidores conectados:</strong> {{ medidoresConectadosAdmin }}
        </div>
        <div>
          ⚠️ <strong>Total de medidores desconectados:</strong> {{ medidoresDesconectadosAdmin }}
        </div>
      </div>
    </ng-container>
    <ng-template #userCard2>
      <a routerLink="/account-settings" class="card small-card large-text">
        <div>
          ✅ <strong>Medidores conectados:</strong> {{ medidoresConectados }}
        </div>
        <div>
          ⚠️ <strong>Medidores desconectados:</strong> {{ medidoresDesconectados }}
        </div>
      </a>
    </ng-template>

    <ng-container *ngIf="isAdmin; else userCard3">
      <div class="card small-card large-text">
        <div>
          🏠 <strong>Total de Hogares:</strong> {{ totalHogaresAdmin }}
        </div>
        <div>
          🎉 <strong>Total de Trivias completadas:</strong> {{ totalTriviasAdmin }}
        </div>
      </div>
    </ng-container>
    <ng-template #userCard3>
      <a routerLink="/consumption-alerts" class="card small-card large-text">
        <div class="info-icon">
          <span class="icon-circle">i</span> Tenés nuevas Alertas de Consumo
        </div>
      </a>
    </ng-template>

  </div>

<div class="chart-card chart-fullwidth slide-bottom">
  <div class="chart-wrapper">
    <h4 class="consumption-hours-title">
      {{ isAdmin ? 'Consumo total de hogares por hora' : 'Tus consumos por hora' }}
    </h4>
    <canvas
      baseChart
      [data]="isAdmin ? lineChartDataAdmin : lineChartData"
      [options]="lineChartOptions"
      type="line"
      (chartClick)="onChartClick($event)"
      >
      
    </canvas>
  </div>
</div>
</div>