<div class="gamification-header">
  <button class="back-btn" routerLink="/gamificacion">⬅ Volver</button>
  <h2>Cuestionario Diario</h2>
</div>

<div class="trivia-card">
  <h3>{{ questions[currentIndex].question }}</h3>

  <div class="trivia-options">
    <div *ngFor="let option of questions[currentIndex].options; let i = index">
      <button [disabled]="answered" (click)="checkAnswer(i)">
        {{ option }}
      </button>
      <p *ngIf="answered && questions[currentIndex].correctAnswer === i">
        ✅ ¡Correcto!
      </p>
    </div>
  </div>

  <div class="next-btn-container">
    <button *ngIf="answered && currentIndex < questions.length - 1" (click)="nextQuestion()">Siguiente</button>

    <div *ngIf="answered && currentIndex === (questions.length - 1)">
      <button (click)="finishTrivia()">Finalizar</button>
    </div>
  </div>

  <p class="trivia-score">Puntaje Trivia: {{ score }}</p>
</div>