<nav class="main-nav">
  <div class="nav-top">
    <a routerLink="/dashboard">
      <img src="/logonav.png?v=2" alt="Logo" class="logo-img" />
    </a>
  </div>

  <div class="nav-bottom">
    <a routerLink="/account-settings" class="nav-item">Mi cuenta</a>
    <a routerLink="/reportes/diario" class="nav-item">Reportes</a>
    <a routerLink="/consumption-prediction" class="nav-item">Predicción de consumo</a>
    <a routerLink="/consumption-alerts" class="nav-item">Alertas de consumo</a>
    <a routerLink="/gamification" class="nav-item">Trivias</a>
  </div>
  </nav>