<div class="gamification-header">
  <button class="back-btn" routerLink="/gamificacion">⬅ Volver</button>
  <h2>Memory Test</h2>
</div>

<div class="memory-container">
  <div class="memory-board">
    <div class="card" *ngFor="let card of cards" (click)="flipCard(card)">
      <div class="card-inner" [class.flipped]="card.flipped || card.matched">
        <div class="card-front">❓</div>
        <div class="card-back">{{ card.icon }}</div>
      </div>
    </div>
  </div>

  <p class="memory-score">Puntos Memoria: {{ scoreCards }}</p>
</div>
