<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
</head>
<body>
  
  
  
  <main>
   
    <div class="container-header" *ngIf="isLoggedIn">
                <div class="logo">
                <a href="/dashboard">
                  <img id="logo" class="logo_img" src="/logonav.png?v=2" alt="Logo">
                </a>
              </div>
        <header>

          <div class="menu-toggle" (click)="toggleMenu()">
            <span class="span_nav" *ngIf="!isMenuActive">☰</span>
            <span class="span_nav" *ngIf="isMenuActive">✖</span>
          </div> 

          <nav  id="menu" [ngClass]="{ 'active': isMenuActive }">
            <ul class="un-header">
              <li class="submenu" *ngIf="isUser || isAdmin">
                <a (click)="toggleService(0)">Reportes ▾</a>
              <ul *ngIf="expandedIndex === 0" class="submenu-list">
                <li><a routerLink="/reportes/diario" (click)="closeMenu()">▸Consumo diario</a></li>
                <li><a routerLink="/reportes/historico" (click)="closeMenu()">▸Consumo histórico</a></li>
              </ul>
            </li>

              <li *ngIf="isUser"><a routerLink="/consumption-prediction">Predicción de Consumo</a></li>
              <li *ngIf="isUser"><a routerLink="/consumption-alerts">Alertas de Consumo</a></li>
              <li *ngIf="isUser"><a routerLink="/gamification">Trivias</a></li>
              <!-- TODO: Revisar si va a ser componente o calculado (ultimo sprint)-->
              <li *ngIf="isAdmin"><a routerLink="/data-export">Exportar Datos</a></li>
              <li *ngIf="isUser || isAdmin"><a routerLink="/account-settings">Mi Cuenta</a></li>
            </ul>
          </nav>
        </header>

    </div>
    <router-outlet></router-outlet>
    
 
  </main>
  
  
<footer *ngIf="isLoggedIn">
  <div class="footer-container">
    <span class="footer-text">© 2025 AquaVision - Todos los derechos reservados</span>
    <div class="footer-divider"></div>
    <a href="/privacidad" class="footer-link">Política de Privacidad</a>
    <div class="footer-divider"></div>
    <a href="/terminos" class="footer-link">Términos y Condiciones</a>
  </div>
</footer>


  
</body>
</html>