<div class="gamification-header">
  <h2>Todo - Integracion pantalla gamificacion</h2>
</div>

<div class="gamification-cards">
  <div class="gamification-card" routerLink="/gamification/trivia">
    <div class="icon-circle">❓</div>
    <span>Minijuego: AquaTest</span>
  </div>

  <div class="gamification-card" routerLink="/gamification/aquasave">
    <div class="icon-circle">🪣</div>
    <span>Minijuego: AquaSave</span>
  </div>

  <div class="gamification-card" routerLink="/gamification/memory-test">
    <div class="icon-circle">🧠</div>
    <span>Memory Test</span>
  </div>

  <div class="gamification-card full-width">
    <div class="icon-circle">🏆</div>
    <span>Mi Puntaje Histórico</span>
  </div>
</div>

