<div class="event-graphic-container">
  <h2>Consumo por hora por sector</h2>

  <div class="sector-charts">
    <div class="chart-card" *ngFor="let item of sectores">
      <h3>{{ item.sector.nombre }}</h3>
      <div class="chart-wrapper">
      <canvas
        baseChart
        [data]="item.chartData"
        [options]="item.chartOptions"
        type="line"
        (chartClick)="onChartClick($event, item)">
      </canvas>

      </div>


      <div class="event-cards">
        <div *ngFor="let ev of item.eventos" class="event-card">
          <strong style="padding-right: 5px;">{{ ev.descripcion }}</strong>
          <span class="ev-time">{{ ev.hora }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
